<div>
    <ul>
        {% for hash in thread_dict %}
        <li><a title="The Timestamp from country"
               href=/timestamp/{{hash}}>{{hash}}</a>
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Timestamp / Download</th>
                    <th>Date (UTC)</th>
                    <th>URL</th>
                </tr>

                <tr>
                    {% if search %}
                    <td>{{clever_function(very.webTitl,domain)}}</td>
                    {% else %}
                    <td><p align="left" class="glyphicon glyphicon-file"></p>{{very.webTitl | safe}}</td>
                    {% endif %}
                    <td>{{very.hashVal}}<br/>
                        {% if very.fileName %}
                        <a class="label label-primary" href=/pdf/{{very.fileName}} target="_blank"
                           style="margin-right: 5px;">Download File </a>
                        {% else %}
                        <a class="label label-primary" href=/pdf/{{very.hashVal}}.pdf target="_blank"
                           style="margin-right: 5px;">PDF</a>
                        <a class="label label-primary" href=/pdf/{{very.hashVal}}.png target="_blank"
                           style="margin-right: 5px;">Screenshot</a>
                        <!--<a class="label label-primary" href="{{ url_for('.verifyID', id=very.id) }}"  target="_blank"> Compare</a>-->

                        <a class="label label-primary" onclick="myFunction({{very.id}})"> Compare</a>
                        <a class="label label-primary" href="http://www.originstamp.org/s/{{very.hashVal}}"
                           target="_blank"> Verify Time-stamp</a>
                        {% endif %}
                    </td>
                    <td>{{very.origStampTime}}</td>
                    <td><br/>
                        {% if very.urlSite %}
                        <a class="label label-primary" href="{{very.urlSite}}" target="_blank"
                           style="margin-right: 5px;">Open </a></td>
                    {% endif %}
                </tr>
            </table>
        </li>

        {% endfor %}
    </ul>

</div>