<hr>
<div class="post-thumbnail">
    <a href="{{ url_for('.user', username=original_post.author.username) }}">
        <img class="img-rounded profile-thumbnail" src="{{ original_post.author.gravatar(size=40) }}">
    </a>
</div>
<div class="post-content" id="{{original_post.id}}">
    <div class="post-date">{{ moment(original_post.timestamp).fromNow() }}</div>
    <div class="post-author"><a href="{{ url_for('.user', username=original_post.author.username) }}">{{
        original_post.author.username }}</a>
    </div>
    <div class="post-body">
        {% if original_post.body_html %}
        {{ original_post.body_html | safe }}
        {% else %}
        {{ original_post.body }}
        {% endif %}
    </div>
    <div class="post-url">
        {% if original_post.hashVal %}
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Timestamp / Download</th>
                    <th>Date (UTC)</th>
                    <th>URL</th>
                </tr>

                <tr>
                    {% if search %}
                    <td>{{clever_function(post.webTitl,domain)}}</td>
                    {% else %}
                    <td><p align="left" class="glyphicon glyphicon-file"></p>{{post.webTitl | safe}}</td>
                    {% endif %}
                    <td>{{post.hashVal}}<br/>
                        {% if post.fileName %}
                        <a class="label label-primary" href=/pdf/{{post.fileName}} target="_blank"
                           style="margin-right: 5px;">Download File </a>
                        {% else %}
                        <a class="label label-primary" href=/pdf/{{post.hashVal}}.pdf target="_blank"
                           style="margin-right: 5px;">PDF</a>
                        <a class="label label-primary" href=/pdf/{{post.hashVal}}.png target="_blank"
                           style="margin-right: 5px;">Screenshot</a>
                        <!--<a class="label label-primary" href="{{ url_for('.verifyID', id=post.id) }}"  target="_blank"> Compare</a>-->

                        <a class="label label-primary" onclick="myFunction({{post.id}})"> Compare</a>
                        <a class="label label-primary" href="http://www.originstamp.org/s/{{post.hashVal}}"
                           target="_blank"> Verify Time-stamp</a>
                        {% endif %}
                    </td>
                    <td>{{post.origStampTime}}</td>
                    <td><br/>
                        {% if post.urlSite %}
                        <a class="label label-primary" href="{{post.urlSite}}" target="_blank"
                           style="margin-right: 5px;">Open </a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
</div>