<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<ul class="posts">
    {% for post in posts %}
    {% if current_user == post.postID.author %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.postID.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.postID.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.postID.author.username) }}">{{ post.postID.author.username }}</a></div>
            <div class="post-body">
                {% if post.postID.body_html %}
                    {{ post.postID.body_html | safe }}
                {% else %}
                    {{ post.postID.body }}
                {% endif %}
            </div>
            <div class="post-url">
                {% if post.postID.hashVal %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                                <tr>
                                    <th>Title</th>
                                    <th>Download</th>
                                    <th>Date (UTC)</th>
                                    <th>Country</th>
                                    <th>URL</th>
                                    <th><p>Frequency<span class="glyphicon glyphicon-time" id="hashIcon"></p></th>
                                </tr>

                                <tr>
                                    <td><p align="left" class="glyphicon glyphicon-file"></p>{{post.postID.webTitl | safe}}</td>
                                    <td><br/>
                                        {% if post.postID.fileName %}
                                        <a class="label label-primary" href=/pdf/{{  post.postID.fileName }} target="_blank"  style="margin-right: 5px;">Download File </a>
                                        {% else %}
                                        <a class="label label-primary" href=/pdf/{{  post.postID.hashVal }}.pdf target="_blank"  style="margin-right: 5px;">PDF </a>
                                        <a class="label label-primary" href=/pdf/{{  post.postID.hashVal }}.png target="_blank"  style="margin-right: 5px;">Screenshot </a>
                                        {% endif %}
                                    </td>
                                    <td>{{post.postID.origStampTime}}</td>

                                    {% if post.uk %}
                                    <td>UK</td>
                                    {% elif post.china %}
                                    <td>China</td>
                                    {% elif post.usa %}
                                    <td>USA</td>
                                    {% elif post.russia %}
                                    <td>Russia</td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
                                    <td><br/>
                                    <a class="label label-primary" href="{{post.postID.urlSite}}" target="_blank"  style="margin-right: 5px;">Open </a></td>
                                    <td><p>{{post.frequency}} </p></td>
                                </tr>

                        </table>
                    </div>
                {% endif %}
            </div>
            <div class="post-footer">

                <a href="{{ url_for('.edit', id=post.postID.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>

                {% if single %}
                <a class="fb-share-button" data-href="{{ url_for('.post', id=post.postID.id) }}" data-layout="button" data-mobile-iframe="false"></a>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url_for('.post', id=post.postID.id) }}" data-layout="button">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                {% else %}
                <a href="{{ url_for('.post', id=post.postID.id) }}" target="_blank">
                    <span class="label label-default">Share</span>
                </a>
                {% endif %}

                {% if current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.postID.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
