<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<style media="screen" type="text/css">
    .fb_iframe_widget span
    {
        vertical-align: baseline !important;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- bootbox.js at 4.4.0 -->
<script src="https://rawgit.com/makeusabrew/bootbox/f3a04a57877cab071738de558581fbc91812dce9/bootbox.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>

<ul class="posts">
    {% for very in verify %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=very.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ very.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content" id = "{{very.id}}">
            <div class="post-date">{{ moment(very.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=very.author.username) }}">{{ very.author.username }}</a></div>
            <div class="post-body">
                {% if very.body_html %}
                    {% if search %}
                        {{clever_function(very.body_html,domain)}}
                    {% else %}
                        {{ very.body_html | safe }}
                    {% endif %}
                {% else %}
                    {% if search %}
                        {{clever_function(very.body,domain)}}
                    {% else %}
                        {{ very.body }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="post-url">
                    <div class="table-responsive" >
                        <table class="table table-striped">
                                <tr>
                                    <th>Title</th>
                                    <th>Hashvalue / Download</th>
                                    <th>Date (UTC)</th>
                                    <th>URL</th>
                                </tr>

                                <tr>
                                    {% if search %}
                                    <td>{{clever_function(very.webTitl,domain)}}</td>
                                    {% else %}
                                    <td> <p align="left" class="glyphicon glyphicon-file"></p>{{very.webTitl | safe}}</td>
                                    {% endif %}
                                    <td>{{very.hashVal}}<br/>
                                        {% if very.fileName %}
                                        <a class="label label-primary" href=/pdf/{{  very.fileName }} target="_blank"  style="margin-right: 5px;">Download File </a>
                                        {% else %}
                                        <a class="label label-primary" href=/pdf/{{  very.hashVal }}.pdf target="_blank"  style="margin-right: 5px;">Download pdf </a>
                                        <a class="label label-primary" href=/pdf/{{  very.hashVal }}.png target="_blank"  style="margin-right: 5px;">Download png </a>
                                        <!--<a class="label label-primary" href="{{ url_for('.verifyID', id=very.id) }}"  target="_blank"> Compare</a>-->

                                        <a class="label label-primary"  onclick="myFunction({{very.id}})" > Compare</a>

                                        <a class="label label-primary" href="http://www.originstamp.org/s/{{very.hashVal}}" target="_blank"> Verify Hash</a>
                                        {% endif %}
                                    </td>
                                    <td>{{very.origStampTime}}</td>
                                    <td><br/>
                                        {% if very.urlSite %}
                                         <a class="label label-primary" href="{{very.urlSite}}" target="_blank"  style="margin-right: 5px;">Open </a></td>
                                        {% endif %}
                                </tr>
                        </table>
                    </div>
            </div>
            <div class="post-footer">
                {% if current_user == very.author %}
                <a href="{{ url_for('.edit', id=very.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% if single %}
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url_for('.very', id=very.id) }}" data-layout="button" style="height:20px; vertical-align: top;">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <a class="fb-share-button" data-href="{{ url_for('.very', id=very.id) }}" data-layout="button" data-mobile-iframe="false" style="height:20px; vertical-align: top;"></a>
                {% else %}
                <a href="{{ url_for('.very', id=very.id) }}" target="_blank">
                    <span class="label label-default">Share</span>
                </a>

                {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<script type="text/javascript">
    function myFunction(x) {
        $.getJSON($SCRIPT_ROOT + '/check_selected', {
        post: x
        }, function(data) {
            var response = data.result;
            console.log(response);
            if(response.indexOf(":") > -1){
                url = "/verify_two/"+response.toString();
                window.open(url,'_blank');
                selected="";
            }
            else{
                var selected = x.toString();
                var div = document.getElementById(selected);
                div.style.backgroundColor = '#f0f0f0';
                var txt;
                BootstrapDialog.show({
                    title: 'Compare',
                    message: 'Would you like to compare the selected post to the current web-content?',
                    buttons: [{
                        label: 'Yes',
                        action: function(dialog) {
                            url = "/verifyID/"+x.toString();
                            window.open(url,'_blank');
                            dialog.close();
                        }
                    }, {
                        label: 'No',
                        action: function(dialog) {
                            BootstrapDialog.alert('Please select another post!');
                            firstPost=x.toString();
                            url = "/compare_options/"+firstPost+":"+'{{domain}}';
                            window.open(url,'_blank');
                            dialog.close();
                        }
                    }]
                });
            }
        });

    }
</script>
