
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="http://cdn.ihwy.net/ihwy-com/assets/css/reset-min.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="http://cdn.ihwy.net/ihwy-com/assets/css/ihwy-2012.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="http://cdn.ihwy.net/ihwy-com/labs/jquery-listnav/2.1/jquery.listnav-2.1.css" type="text/css" media="screen" charset="utf-8" />

	<style type="text/css" media="screen" charset="utf-8">
		
		.demoWrapper { margin:15px; }
		pre.chili { margin-bottom:2em; }
	</style>

	<script type="text/javascript" src="http://cdn.ihwy.net/ihwy-com/assets/js/lib/jquery-1.3.2.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="http://cdn.ihwy.net/ihwy-com/assets/js/lib/jquery.cookie.js" charset="utf-8"></script>
	<script type="text/javascript" src="http://cdn.ihwy.net/ihwy-com/assets/js/lib/jquery.idTabs.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="http://cdn.ihwy.net/ihwy-com/labs/jquery-listnav/2.1/jquery.listnav-2.1.js" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			if(top.location.href.toLowerCase() == self.location.href.toLowerCase()) $('#docLink').show();

			$("#tabNav ul").idTabs("tab4"); 				
			$('#demoFour').listnav({				
			});			
			$('.demo a').click(function(){
				alert('Links in this demo don\'t actually go anywhere');
				return false;
			});			
		});
	</script>	
</head>
<body>
	<form>
	
<div class="demoWrapper">	
	<div id="tabNav">
		<ul> 	
			<li><a href="#tab4">Demo 4</a></li> 			
		</ul>		
	</div>
	<div id="tab4" class="tab">
			<div id="demo4">
				<div id="demoFour-nav" class="listNav"></div>
					<ul id="demoFour" class="demo">
						<li><a href="#">Agizzy</a></li>
						<li><a href="#">Aiboo</a></li>
						<li><a href="#">Avazu</a></li>
						<li><a href="#">Babbletype</a></li>
						<li><a href="#">BrowseZ</a></li>
						<li><a href="#">Camiba</a></li>
						<li><a href="#">Centilia</a></li>
						<li><a href="#">Centixo</a></li>
						<li><a href="#">Chatterbean</a></li>
						<li><a href="#">Chatvine</a></li>
						<li><a href="#">Dabster</a></li>
						<li><a href="#">Dazzleblab</a></li>
						<li><a href="#">Dazzleclub</a></li>
						<li><a href="#">Demivee</a></li>
						<li><a href="#">Devopia</a></li>
						<li><a href="#">Eaxo</a></li>
						<li><a href="#">Edgedrive</a></li>
						<li><a href="#">Edgenation</a></li>
						<li><a href="#">Fadeo</a></li>
						<li><a href="#">Feedbird</a></li>
						<li><a href="#">Fivecat</a></li>
						<li><a href="#">Flipspot</a></li>
						<li><a href="#">Innobird</a></li>
						<li><a href="#">Inte</a></li>
						<li><a href="#">Jabberspot</a></li>
						<li><a href="#">Jabberverse</a></li>
						<li><a href="#">Jumplist</a></li>
						<li><a href="#">Kaype</a></li>
						<li><a href="#">Meendo</a></li>
						<li><a href="#">Meente</a></li>
						<li><a href="#">Meetz</a></li>
						<li><a href="#">Muba</a></li>
						<li><a href="#">Ombee</a></li>
						<li><a href="#">Oope</a></li>
						<li><a href="#">Podtune</a></li>
						<li><a href="#">Quiyo</a></li>
						<li><a href="#">Rifffire</a></li>
						<li><a href="#">Riffmix</a></li>
						<li><a href="#">Tagtube</a></li>
						<li><a href="#">Tandu</a></li>
						<li><a href="#">Tekpad</a></li>
						<li><a href="#">Tekware</a></li>
						<li><a href="#">Topbug</a></li>
						<li><a href="#">Trunti</a></li>
						<li><a href="#">Twitterspot</a></li>
						<li><a href="#">Voonte</a></li>
						<li><a href="#">Wikible</a></li>
						<li><a href="#">Wikidel</a></li>
						<li><a href="#">Wikindo</a></li>
						<li><a href="#">Yondo</a></li>
						<li><a href="#">Yotz</a></li>
						<li><a href="#">Zoomworks</a></li>
						<li><a href="#">0000></a></li>
					</ul>					
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="http://cdn.ihwy.net/ihwy-com/assets/js/lib/chili/jquery.chili-2.2.js" charset="utf-8"></script>
<script type="text/javascript" src="http://cdn.ihwy.net/ihwy-com/assets/js/lib/chili/recipes.js" charset="utf-8"></script>

	</form>
</body>
</html>
