{% extends "bootstrap/base.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta content="Stamp The Web" property="title">
<meta content="A free transparent timestamping service for websites using the Bitcoin Blockchain." name="description">
<meta content="Stamp The Web, timestamping, bitcoin, censorship, blockchain," name="keywords">
<meta content="Waqar Detho, Sebastian Schneider" name="author">
{% block title %}Trusted Timestamping of Web Pages - Stamp The Web{% endblock %}
{% block head %}
{{ super() }}
<!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">  -->
<link rel="shortcut icon" href="/pdf/icon.png" type="image/x-icon">
<!--<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon"> -->
<link rel="icon" href="/pdf/icon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/pdf/icon.png" height="50" width="55" align="center">
            <a class="navbar-brand" href="{{ url_for('main.index') }}"></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ home_page}}"><a id="main.index" href="{{ url_for('main.index') }}"> Submit Time-stamp <span class="glyphicon glyphicon-time"></span></a></li>
                {% if current_user.is_authenticated %}
                <li class="{{ comp_page}}"><a id="main.compare" href="{{ url_for('main.compare') }}">Browse Time-stamps <span class="glyphicon glyphicon-search"></span></a></li>
                <li class="dropdown {{ regular }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Schedule <span class="glyphicon glyphicon-calendar"></span><b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li class="{{ reg_page }}"><a href="{{ url_for('main.regular') }}" >Schedule recurring URL timestamps <span class="glyphicon glyphicon-calendar"></span></a></li>
                        <li class="{{ reg_sch }}"><a href="{{ url_for('main.compare_country') }}" >Schedule recurring URL timestamps from different locations <span class="glyphicon glyphicon-map-marker"></span></a></li>
                    </ul>
                <li class="dropdown {{ block_page }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Where is it blocked? <span class="glyphicon glyphicon-ban-circle"></span><b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li class="{{ block_block }}"><a href="{{ url_for('main.block') }}">Find for a location <span class="glyphicon glyphicon-map-marker"></span></a></li>
                        <li class="{{ block_country }}"><a href="{{ url_for('main.block_country') }}" >Find Block map <span class="glyphicon glyphicon-globe"></span></a></li>
                    </ul>
                </li>
                <li class="{{ stat_page }}"><a href="{{ url_for('main.statistics') }}">Statistics <span class="glyphicon glyphicon-stats"></span></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        <span class="glyphicon glyphicon-wrench"></span> Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}"><span class="glyphicon glyphicon-envelope"></span> Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> Register for Free</a></li>
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}


