{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Check if a page is block - Stamp The Web Block Articles{% endblock %}

{% block page_content %}
<div class="page-header">
    <h6 class="text-right">Hello, <mark>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</mark></h6>
</div>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Blocked Articles</h3>
      <p>Please provide a URL in order to find out if it is blocked.</p>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
        {% endif %}
    </div>
  </div>



{% include '_block.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.block') }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
