{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Timestamp web articles Regularly - Stamp the Web{% endblock %}
{% block page_content %}



<script type="text/javascript">
  function loading(){
    url = document.getElementById('urlSite');
    if(ValidURL(url.value)){
        $("#loading").show();
        $("#content").hide();
    }
  }
  function ValidURL(str) {
  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
  '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
  '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
  '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
  '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
  '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
  return pattern.test(str);;
  }
</script>
<div class="page-header">
    <h6 class="text-right">Hello, <mark>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</mark></h6>
</div>
<div class="container">
{% if current_user.can(Permission.WRITE_ARTICLES) %}

      <h3>Submit URL to be Regularly Checked for Changes in Different countries</h3>
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
</div>
<div id="loading"></div>
<div id="content">

  {% endif %}

{% include '_regular.html' %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.compare_country') }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
