{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Stamp The Web{% endblock %}
{% block page_content %}

<div class="page-header">
    <h6 class="text-right">Hello, <mark>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</mark></h6>
</div>
<h2>Trusted Timestamping of Web Pages</h2>
<div style="width: 50%">
    <p lingdex="0">
Stamp The Web is a trusted timestamping service for web-based content that can be used free of charge. The service enables users to automatically create trusted timestamps to preserve the existence of online content at a particular point in time, such as news paper articles, blog posts, etc. <br> This enables users to prove that certain information online existed in a particular state at the time it was 'trusted timestamped' using Stamp The Web.    </p>
</div>
{% if current_user.can(Permission.WRITE_ARTICLES) %}
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"></span>
        <a data-toggle="tab" href="#home">Home <span class="glyphicon glyphicon-home" id="linkIcon"></a></li>
    <li><a data-toggle="tab" href="#freq">Set frequency of URL timestamping<span class="glyphicon glyphicon-time" id="hashIcon"></a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active" style="width: 50%">
      <h3>Submit URL</h3>

        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
            </div>
    <div id="freq" class="tab-pane fade" style="width: 50%">
      <h3>Submit URL with Frequency</h3>
      {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(formFreq, button_map={'submit':'primary'}) }}
        {% endif %}    </div>
  </div>
</div>
{% endif %}

{% set alphabets ='abcdefghijklmnopqrstuvwxyz' %}
<div class="container">
  <h3>Browse other submissions</h3>
  <ul class="nav nav-tabs">
      {% for c in alphabets %}
    <li><a data-toggle="tab" href=#{{c}}>{{c.upper()}}</a></li>
      {% endfor %}

    <li><a data-toggle="tab" href="#0">0-9 </a></li>
  </ul>
  <div class="tab-content">

  {% for c in alphabets %}

    <div id={{c}} class="tab-pane fade">
      {% for name in doman_name %}
          {% if name.startswith(c) %}
            {% set list = name.split(';') %}
            <a class="btn btn-primary" href="{{ url_for('.verify_domain', domain=list[0]) }}" target="_blank"> {{list[0]}}<span class="badge"> {{list[1]}}</span></a>

          {% endif %}
      {% endfor %}

    </div>
  {% endfor %}

    <div id="0" class="tab-pane fade">
    {% for name in doman_name %}
      {% if name[0].isdigit() %}
          {% set list = name.split(';') %}
                <a class="btn btn-primary" href="{{ url_for('.verifyDomain', domain=list[0]) }}" target="_blank"> {{list[0]}}<span class="badge"> {{list[1]}}</span></a>

      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
