{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Timestamp web articles Regularly - Stamp the Web{% endblock %}
<style>
 div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/pdf/loadingimage.gif) no-repeat;
    cursor: wait;
    }
</style>



{% block page_content %}
<script type="text/javascript">
  function loading(){
    url = document.getElementById('url');
    if(ValidURL(url.value)){
        $("#loading").show();
        $("#content").hide();
    }
  }
  function ValidURL(str) {
  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
  '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
  '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
  '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
  '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
  '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
  return pattern.test(str);;
  }

</script>

<div id="loading"></div>
<div id="content">

<div class="page-header">
    <h6 class="text-right">Hello, <mark>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</mark></h6>
</div>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Submit URL to be Regularly Checked for Changes</h3>
      {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
        {% endif %}
    </div>
</div>


{% include '_regular.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.regular') }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
