{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Regular Stamps{% endblock %}

{% block page_content %}
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Submit URL to be Regularly Checked for Changes</h3>
      {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
        {% endif %}
    </div>
</div>


{% include '_regular.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.regular') }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
