{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Search a saved article - Stamp The Web - Post{% endblock %}

{% block page_content %}

    <div >
      <h3>Compare the same page from another country</h3>
      {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form_choice, button_map={'submit':'primary'}) }}
        {% endif %}
    </div>
    <div>
      <h3>Or Compare with the Previously saved posts</h3>
      {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
        {% endif %}
    </div>

{% include '_compare_two.html' %}

{% if pagination %}

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.compare_options', ids=last+':'+domain) }}
</div>

{% endif %}
{% endblock %}