{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Stamp The Web{% endblock %}

{% block page_content %}
<div class="page-header">
    <h6 class="text-right">Hello, <mark>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</mark></h6>
</div>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>URL</h3>
      <p>Please provide a URL in order to compare the the data on that URL.</p>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form, button_map={'submit':'primary'} ) }}
        {% endif %}
    </div>
  </div>
{% set alphabets ='abcdefghijklmnopqrstuvwxyz' %}

<div class="container">
  <h3>Browse other submissions</h3>
  <ul class="nav nav-tabs">
      {% for c in alphabets %}
    <li><a data-toggle="tab" href=#{{c}}>{{c.upper()}}</a></li>
      {% endfor %}

    <li><a data-toggle="tab" href="#0">0-9 </a></li>
  </ul>
  <div class="tab-content">

  {% for c in alphabets %}

    <div id={{c}} class="tab-pane fade">
      {% for name in doman_name %}
          {% if name.startswith(c) %}
            {% set list = name.split(';') %}
            <a class="btn btn-primary" href="{{ url_for('.verify_domain', domain=list[0]) }}" target="_blank"> {{list[0]}}<span class="badge"> {{list[1]}}</span></a>

          {% endif %}
      {% endfor %}

    </div>
  {% endfor %}

    <div id="0" class="tab-pane fade">
    {% for name in doman_name %}
      {% if name[0].isdigit() %}
          {% set list = name.split(';') %}
                <a class="btn btn-primary" href="{{ url_for('.verify_domain', domain=list[0]) }}" target="_blank"> {{list[0]}}<span class="badge"> {{list[1]}}</span></a>

      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>


{% include '_compare.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.compare') }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
