<style>
    div.space-needed {
    white-space: pre-wrap;
}
    ins{
    background-color: #9F9;}

    del{
    background-color: #F88;}

</style>

{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Web Stamps - Post{% endblock %}

{% block page_content %}
{% if double %}
<div class="space-needed" style="float:left; width:50%;">
    <h3>Original Text ( {{dateLeft}} )</h3>
    <p>{{left}}</p> <!-- Set Div As your requirement -->
</div>
<div class="space-needed" style="float:left; width:50%;">
    <h3>Current Text ({{dateRight}})</h3>
<p>{{right}}</p>  <!-- Set Div As your requirement -->

</div>

{% else %}
{% include '_verifies.html' %}
{% endif %}
{% endblock %}