<style>

dif.compare_text { word-wrap: break-word; }
    ins{
    background-color: #9F9;}

    del{
    background-color: #F88;}

    .post-footer div{
    display:inline;
}

div#content {
    display: none;
    }
div#loading {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1000;
    background: url(/pdf/loadingimage.gif) no-repeat;
    cursor: wait;
}
</style>

{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Compare saved web articles - Stamp The Web - Post{% endblock %}

{% block page_content %}
{% if double %}

<script type="text/javascript">
  function loading(){
    $("#loading").hide();
    $("#content").show();
  }
  window.onload = loading;
</script>

<div class="compare_text" style="float:left; width:50%;" onload="pop_alert();">
    <a class="label label-primary" href=/pdf/{{  hash1 }}.pdf target="_blank"  style="margin-right: 5px;">View pdf </a>
    <a class="label label-primary" href=/pdf/{{  hash1 }}.png target="_blank"  style="margin-right: 5px;">View Screenshot</a>
    <h3>Original Text ( {{dateLeft}} )</h3>
    <p align="left">{{left}}</p> <!-- Set Div As your requirement -->
</div>
<div class="compare_text" style="float:left; width:50%;" onload="pop_alert();">
    <a class="label label-primary" href=/pdf/{{  hash2 }}.pdf target="_blank"  style="margin-right: 5px;">View pdf </a>
    <a class="label label-primary" href=/pdf/{{  hash2 }}.png target="_blank"  style="margin-right: 5px;">View Screenshot</a>
    <h3>Current Text ({{dateRight}})</h3>
<p align="left">{{right}}</p>  <!-- Set Div As your requirement -->

</div>

<div id="loading"></div>
<div id="content"></div>

{% else %}
{% include '_verifies.html' %}
{% endif %}
{% endblock %}